.level {
    height: 50px;
}

.level h4 {
    margin: 0 auto;
}
.thumbnail {
    margin:20px 20px 20px 20px;
    height: 100px;
}
.divider-vertical {
     margin-left:5px;
     margin-right:5px;
     width:1px;
     height:100%;
     border-left:1px solid gray;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.answers li {
    display: inline-block;
    margin: 15px;
    padding: 5px;
}

.fa-sm{
    transform: scale(0.5,0.5);
    vertical-align: middle;
}

.no-display {
    display: none;
}